@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
<h4>Add a new Machine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {@class = "form-control", type="text", required="required"})

  @Html.LabelFor(model => model.MachineType)
  @Html.TextBoxFor(model => model.MachineType , new {@class = "form-control", type="text", required="required"})

  @Html.Label("Select engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" class="btn btn-success mt-5" value="Add new machine" />
}
<p>@Html.ActionLink("Show all Machines", "Index")</p>